@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url(../assets/image/Gambar1.jpg);
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

main {
    overflow: auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    top: 0;
    margin: 0 auto;
    position: sticky;
}

header img {
    margin: 10px;
    height: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

nav li {
    text-align: right;
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    font-weight: bold;
    color: lightskyblue
}

h1 {
    font-size: bold;
    text-align: center;
    margin-bottom: 20px;
}

h2, h3 {
    color: #00a2c6
}

section {
    background: white;
    width: 70%;
    height: auto;
    margin: 10 auto;
    padding: 10px;
}

footer {
    padding: 5px;
    color: white;
    background-color: black;
    text-align: center;
    font-weight: bold;
}

.profile figure img {
    margin: 0;
    padding: 0;
    border-radius: 50%;
    border-style: dotted;
}

#content {
    float: left;
    width: 75%;
}

aside {
    float: right;
    width: 25%;
    padding-left: 20px;
}

@media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }

}

.flex-container-row {
    display: flex;
    margin: 0 auto;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    padding: 5px;
}

.left-content {
    text-align: center;
    line-height: 400px;
    width: 50%;
    float: left;
}

.right-content {
    text-align: center;
    line-height: 400px;
    width: 50%;
    height: 100%;
    float: right;
}    

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    background-color: white;
}

.jumbotron{
    font-size: 20px;
    padding: 5px;
    background-color: white;
    text-align: center;
    color: #00a2c6;
}

.profile h2 {
    text-align: center;
}

.profile img {
    width: 150px;
}

aside section {
    width: 100%;
}

.profile figure {
    text-align: center;
}

.profile figure h4 {
    font-weight: bold;
    color: black;
    margin: 5px auto;
    padding: 0px auto;
}

section p {
    text-align: center;
}
